<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.quransubjectsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/mafatihcircle"
        android:roundIcon="@drawable/mafatihcircle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.lenovo.quransubjectsapp" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VersesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".TafaseerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".ChartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".QuranActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SubjectTreeActivity" />
        <activity
            android:name=".WordMeaningDialog"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".QuranWordDetail"></activity>
    </application>

</manifest>